.nocust {
  text-align: center;
  color: lightgrey;
}

.delete-btn {
  border: none;
  background-color: red;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
}
.edit-btn {
  text-decoration: none;
  border: none;
  background-color: green;
  color: white;
  font-family: "Roboto", sans-serif;
  padding: 5px 10px;
}
.edit-btn:hover {
  text-decoration: none;
  color: white;
}
